--- 

layout: default 
title: Ponorné čerpadlá VODOLEY - WATER TECHNOLOGY

---

<div id="ponorne-cerpadla-vodoley">
    <section class="product-header">
            <div class="product-header-cover clearfix">
                <img src="img/images/vodoley.jpg" alt="">
            </div>
            <div class="container product-heading">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>
                            Ponorné čerpadlá <br>
                            VODOLEY
                        </h1> 
                    </div>
                </div>
            </div>

        <div class="clearfix text-center">
            <a href="/produkty.html">
                <-  Späť na zoznam produktov 
            </a>
        </div> 
    </section>

    <section class="text">
        <div class="container">
            <div class="row align-items-center text-block">
                <div class="col-12 text-center text-uppercase">
                    <h4>Kvalitná konštrukcia aj do najťažších podmienok</h4>
                    <h1>Ponorné čerpadlá VODOLEY</h1>
                </div>
                <div class="col-12 text-block">
                    <img src="img/images/seria.png" class="max-width-500 img-fluid" alt="">
                    <p class="text-center full-width mt-4">
                            Kvalitu čerpadiel Vodoley zaručuje východeurópska výroba – všetky komponenty sú vyrábané na jednom mieste – u jedného výrobcu – na Ukrajine. Technológie využité pri výrobe čerpadiel Vodoley zaručujú, že si poradia až s 200 gramami pevných čiastíc na meter kubický.
                    </p>
                </div>
            </div>
        </div>
    </section>  
 

    <section id="icons-list">
        <div class="container">
            <div class="row text-center icons-col-6">
                <div class="col-12 col-md-4 clearfix"> 
                    {% include /svg/icons/buy.svg %}
                    <h3>BEZPROBLÉMOVÁ INŠTALÁCIA</h3>
                    <p>Dĺžka prívodného kábla je vždy dostatočne dlhá, a tak kábel stačí skrátiť podľa potreby priamo na mieste inštalácie.</p>
                </div>
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/contract.svg %}
                    <h3>AŽ 200G PIESKU NA 1 M3y</h3>
                    <p>Vďaka kvalitným materiálom je možné čerpadlá využívať do obsahu pevných častíc až 200g na jeden meter kubický.</p>
                </div>
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/roller.svg %}
                    <h3>KVALITNÁ KONŠTRUKCIA</h3>
                    <p>Čerpacia časť ponorného čerpadla je vyrobená z tvrdeného plastu - norylu, vďaka čomu je odolná voči hrdzi či usadeniu ostatných materiálov</p>
                </div>
            </div>
        </div> 
    </section>


    <section id="product-grid" class="white-panel">
            <div class="container">
                <div class="row text-center justify-content-around">
                    <div class="col-12 col-md-5 col-lg-5 clearfix">
                        <div class="product-item">
                            <a href="/ponorne-cerpadla-vodoley-seria-bcpe-0-32.html">
                                <img src="img/images/vodoley-stock.jpg" alt="">
                                <h4>séria čerpadiel</h4>
                                <h3>Vodoley BCPE 0.32</h3>
                            </a>
                            <p>Čerpadlá vhodné najmä do hlbších alebo menej výdatných studní. Pri prietoku 0.3L/sek nie je potrebná inštalácia regulačného ventilu.</p>
                            <a href="/ponorne-cerpadla-vodoley-seria-bcpe-0-32.html">
                                <button class="button">Viac info</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 clearfix">
                        <div class="product-item">
                            <a href="/ponorne-cerpadla-vodoley-seria-bcpe-0-32.html">
                                <img src="img/images/vodoley-stock.jpg" alt="">
                                <h4>séria čerpadiel</h4>
                                <h3>Vodoley BCPE 0.5</h3>
                            </a>
                            <p>Séria BCPE 0.5 je vhodná pre menšie domy či závlahy, kde nie sú nároky na prietok vody veľmi veľké alebo je na mieste menej odberných miest.</p>
                            <a href="/ponorne-cerpadla-vodoley-seria-bcpe-0-32.html">
                                <button class="button">Viac info</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 clearfix">
                        <div class="product-item">
                            <a href="/ponorne-cerpadla-vodoley-seria-bcpe-0-32.html">
                                <img src="img/images/vodoley-stock.jpg" alt="">
                                <h4>séria čerpadiel</h4>
                                <h3>Vodoley BCPE 1.2</h3>
                            </a>
                            <p>Séria je určená do výdatnejších studní, pre zásobovanie závlahových systémov a rodinných domov.</p>
                            <a href="/ponorne-cerpadla-vodoley-seria-bcpe-0-32.html">
                                <button class="button">Viac info</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 clearfix">
                        <div class="product-item">
                            <a href="/ponorne-cerpadla-vodoley-seria-bcpe-0-32.html">
                                <img src="img/images/vodoley-stock.jpg" alt="">
                                <h4>séria čerpadiel</h4>
                                <h3>Vodoley BCPE 1.6</h3>
                            </a>
                            <p>Čerpadlá s vysokým prietokom, určené na zásobovanie veľkých závlah. Do studní s hĺbkou max 20M.</p>
                            <a href="/ponorne-cerpadla-vodoley-seria-bcpe-0-32.html">
                                <button class="button">Viac info</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
    <section id="small-blog-list" class="text-center margin-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-uppercase">
                    <h4>čerpacia technika Vodoley</h4>
                    <h1>Každé čerpadlo je otestované</h1>
                </div>
            </div>
            <div class="row justify-content-around">
                {% for cerpadla in site.categories['Novinky'] limit:3 %}
                    <div class="col-md-4 small-container">
                        <div class="white-panel hover-border">
                            <div class="image-holder">
                                <img src="{{ cerpadla.cover }}" alt="{{ cerpadla.cover-alt }}">
                            </div>
                            <h3 class="upper">
                                {{ cerpadla.title }}
                            </h3>     
                            <p>
                                {{ cerpadla.description }}                        
                            </p>
                            <a href="{{ novinka.url }}"><button class="button mt-4">Viac info</button></a>         
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bottom-link">
        <div class="container">
            <div class="row align-items-center text-block">
                <div class="col-12 text-center text-uppercase">
                    <h2 class="bold">
                        Potrebujete presné technické parametre?
                    </h2>
                    <p>
                        Grafy a tabuľky výtlakov nájdete v technických listoch a manuáloch. Ostatné dokumenty nájdete v sekcií "Na stiahnutie".
                    </p>
                    <button class="address-link">
                        Dokumenty na stiahnutie
                    </button>
                </div>
            </div>
        </div>
    </section>  
</div>