--- 

layout: default 
title: Ponorné čerpadlá VODOLEY - WATER TECHNOLOGY

---
<div id="ponorne-cerpadla-vodoley">

    <section class="product-header">
            <div class="product-header-cover clearfix">
                <img src="img/images/vodoley.jpg" alt="">
            </div>
            <div class="container product-heading">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>
                            Ponorné čerpadlá <br>
                            VODOLEY
                        </h1>
                    </div>
                </div>
            </div>

        <div class="clearfix text-center">
            <a href="/ponorne-cerpadla-vodoley.html">
                <-  Späť na zoznam produktov
            </a>
        </div> 
    </section>

    <section class="product-single">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-12 col-md-6 text-block">
                    <div class="main-image">
                        <a href="img/images/cerpadlo.png"
                        class="fresco"
                        data-fresco-caption="Caption on top of the image"
                        data-fresco-options="ui: 'outside'"       
                        data-fresco-group="unique_name">
                            <img src="img/images/cerpadlo.png" alt="" class="max-width-400">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center text-lg-left">
                    <h4>Čerpadlá s nízkym prietokom vhodné pre hlbšie studne</h4>
                    <h1>
                        Ponorné čerpadlá VODOLEY<br>
                        Séria BCPE 0.32
                    </h1>

                    <ul>
                        <li> <span>Max. výtlak:</span>  200m</li>
                        <li> <span>Max. prietok:</span>  48L/min</li>
                        <li> <span>Priemer čerpadla:</span>  105mm (priemer telesa 95mm)</li>
                        <li> <span>Napájací kábel:</span>  20 - 125m (H07BB-F)</li>
                    </ul>
                    <p class="full-width mt-4">
                            Tekutý prostriedok disiCLEAN ANTI-CALC čistí, dezinfikuje a odstraňuje vodný kameň. Je určený na upratovanie a dezinfekciu sanitárnych povrchov. 
                            Je vhodný na umývanie sprchovacích kútov, kúpeľní, umývadiel, batérií, kuchynských drezov, kachličiek, vaní, nerezu.
                    </p>

                    <p>
                        <span class="second-line">* Doporučená maloobchodná cena s DPH</span>
                    </p>
                </div>
            </div>
        </div>
    </section>  

    <section id="companies" class="white-panel">
            <div class="container">
                    <div class="row text-left justify-content-around"> 
                        <div class="col-12 col-md-5 clearfix">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>
                                Tekutý prostriedok disiCLEAN ANTI-CALC čistí, dezinfikuje a odstraňuje vodný kameň. Je určený na upratovanie a dezinfekciu sanitárnych povrchov. 
                                Je vhodný na umývanie sprchovacích kútov, kúpeľní, umývadiel, batérií, kuchynských drezov, kachličiek, vaní, nerezu.
                            </p>
                        </div>
                        <div class="col-12 col-md-5 clearfix">
                            <p class="right-text">
                                Najväčší výrobca Presscontrolov na svete. Výrobca je držiteľom niekoľkých patentov v oblasti regulácie čerpadiel.
                                Grafy a tabuľky výtlakov nájdete v technických listoch a manuáloch. Ostatné dokumenty nájdete v sekcií "Na stiahnutie".
                            </p>
                        </div>
                    </div>
                </div>
            </section>
    </section> 

    <section class="bottom-link">
        <div class="container">
            <div class="row align-items-center text-block">
                <div class="col-12 text-center text-uppercase">
                    <h2 class="bold">
                        Potrebujete presné technické parametre?
                    </h2>
                    <p>
                        Grafy a tabuľky výtlakov nájdete v technických listoch a manuáloch. Ostatné dokumenty nájdete v sekcií "Na stiahnutie".
                    </p>
                    <div id="na-stiahnutie">
                        <section class="container text-center">
                            <div class="row justify-content-around download-list">
                                <div class="col-md-10 small-container">
                                    <div class="white-panel hover-border">
                                        <a href="/na-stiahnutie/pdf/test-biocidnej-ucinnosti-polyhmg.pdf">
                                            <h3 class="upper">
                                                {% include svg/icons/document.svg %}
                                                Manuál pre ponorné čerpadlá VODOLEY BCPE 0.32
                                            </h3>
                                        </a>
                                    </div>
                                </div>    
                            </div>
                            <div class="row justify-content-around download-list">
                                <div class="col-md-10 small-container">
                                    <div class="white-panel hover-border">
                                        <a href="/na-stiahnutie/pdf/test-biocidnej-ucinnosti-polyhmg.pdf">
                                            <h3 class="upper">
                                                {% include svg/icons/document.svg %}
                                                Technický list pre čerpadlá VODOLEY BCPE 0.32
                                            </h3>
                                        </a>
                                    </div>
                                </div>    
                            </div>
                            <div class="row justify-content-around download-list">
                                <div class="col-md-10 small-container">
                                    <div class="white-panel hover-border">
                                        <a href="/na-stiahnutie/pdf/test-biocidnej-ucinnosti-polyhmg.pdf">
                                            <h3 class="upper">
                                                {% include svg/icons/document.svg %}
                                                Certifikát pre ponorné čerpadlá VODOLEY
                                            </h3>
                                        </a>
                                    </div>
                                </div>    
                            </div>
                            <div class="row justify-content-around download-list">
                                <div class="col-md-10 small-container">
                                    <div class="white-panel hover-border">
                                        <a href="/na-stiahnutie/pdf/test-biocidnej-ucinnosti-polyhmg.pdf">
                                            <h3 class="upper">
                                                {% include svg/icons/document.svg %}
                                                Atest pre trvalý styk s pitnou vodou
                                            </h3>
                                        </a>
                                    </div>
                                </div>    
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>  
</div>