--- 

layout: default 
title: Ponorné čerpadlá VODOLEY - WATER TECHNOLOGY

---

<section class="product-cover vodoley">
    <div class="container-fluid bg-cover text-center">
        <div class="container">
            <h1>
                Ponorné čerpadlá <br>
                <span>VODOLEY</span>
            </h1>
            <div class="col-12 col-md-8 m-auto">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <a href="/produkty.html">
                            <button class="line">
                                Späť na zoznam produktov
                            </button>
                        </a>
                    </div>
                    <div class="col-12 col-md-6">
                        <button class="line">
                            Prejsť na stránku produktu
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text">
    <div class="container">
        <div class="row align-items-center text-block">
            <div class="col-12 text-center text-uppercase">
                <h4>Ponorné Čerpadlá</h4>
                <h1>Kvalita, ktorý vydrží aj desaťročia</h1>
            </div>
            <div class="col-12 text-block">
                <p class="text-center full-width">
                    Octopus Energi zabezpečuje kompletnú distribúciu a predaj tepelných čerpadiel, ponorných čerpadiel a technického príslušenstva. Ponúkame produkty pre koncových odberateľov a distribúciu pre montážne firmy, inštalatérov a odborné predajne. Na slovenskom trhu zastrešujeme značky Octopus, Vodoley, Watertech, Varem a Aquafill.
                </p>
            </div>
        </div>
    </div>
</section>  

<section class="photo-block clearfix">
    <div class="image-holder left">
        <img src="img/background/vodoley-photo.jpg" alt="">
    </div>
    <div class="text-part d-flex align-middle">
        <div class="align-self-center">
            <h1>
                Kvalita, <br> osvedčená rokmi
            </h1>

            <p>
                Octopus Energi zabezpečuje kompletnú distribúciu a predaj tepelných čerpadiel, ponorných čerpadiel a technického príslušenstva. 
            </p>
        </div>
    </div>
</section>

<section class="photo-block clearfix">
    <div class="image-holder right">
        <img src="img/background/vodoley-photo.jpg" alt="">
    </div>
    <div class="text-part d-flex align-middle">
        <div class="align-self-center">
            <h1>
                Kvalita, <br> osvedčená rokmi
            </h1>

            <p>
                Ponúkame produkty pre koncových odberateľov a distribúciu pre montážne firmy, inštalatérov a odborné predajne.
            </p>
        </div>
    </div>
</section>

<section id="features" class="white-panel">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-uppercase">
                    <h4>Prvotriedna kvalita</h4>
                    <h1>Od distribúcie až po servis na mieste</h1>
                </div>
            </div>
            <div class="row text-center icons-col-6">
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/buy.svg %}
                    <h3>RÝCHLA ÚČINNOSŤ</h3>
                    <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                </div>
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/contract.svg %}
                    <h3>RÝCHLA ÚČINNOSŤ</h3>
                    <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                </div>
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/roller.svg %}
                    <h3>RÝCHLA ÚČINNOSŤ</h3>
                    <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                </div>
            </div>
            <div class="row text-center icons-col-6">
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/trowel.svg %}
                    <h3>RÝCHLA ÚČINNOSŤ</h3>
                    <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                </div>
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/mortgage.svg %}
                    <h3>RÝCHLA ÚČINNOSŤ</h3>
                    <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                </div>
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/truck.svg %}
                    <h3>RÝCHLA ÚČINNOSŤ</h3>
                    <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                </div>
            </div>
        </div>
    </section>

