--- 

layout: default 
title: Riadiace jednotky WATERTECH - WATER TECHNOLOGY

---
<div id="riadiace-jednotky-watertech">

    <section class="product-header">
            <div class="product-header-cover clearfix">
                <img src="img/images/watertech.jpg" alt="">
            </div>
            <div class="container product-heading">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>
                            Ponorné čerpadlá <br>
                            VODOLEY
                        </h1>
                    </div>
                </div>
            </div>

        <div class="clearfix text-center">
            <a href="/riadiace-jednotky-watertech.html">
                <-  Späť na zoznam produktov
            </a>
        </div> 
    </section>

    <section class="product-single">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-12 col-md-6 text-block">
                    <div class="main-image">
                        <a href="img/images/presscontrol-evo.png"
                        class="fresco"
                        data-fresco-caption="Caption on top of the image"
                        data-fresco-options="ui: 'outside'"       
                        data-fresco-group="unique_name">
                            <img src="img/images/presscontrol-evo.png" alt="" class="max-width-400">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center text-lg-left">
                    <h4>Čerpadlá s nízkym prietokom vhodné pre hlbšie studne</h4>
                    <h1>
                        Ponorné čerpadlá VODOLEY<br>
                        Séria BCPE 0.32
                    </h1>

                    <ul>
                        <li> <span>Max. výtlak:</span>  200m</li>
                        <li> <span>Max. prietok:</span>  48L/min</li>
                        <li> <span>Priemer čerpadla:</span>  105mm (priemer telesa 95mm)</li>
                        <li> <span>Napájací kábel:</span>  20 - 125m (H07BB-F)</li>
                    </ul>
        
                    <div class="text-left mt-4">
                        <span class="download-link small"> 
                            <a href="#">
                                {% include svg/icons/document.svg %}
                                Technický list
                            </a>
                        </span>
                        <span class="download-link small"> 
                            <a href="#">
                                {% include svg/icons/document.svg %}
                                Manuál
                            </a>
                        </span>
                    </div>

                    <p class="full-width mt-4">
                            Tekutý prostriedok disiCLEAN ANTI-CALC čistí, dezinfikuje a odstraňuje vodný kameň. Je určený na upratovanie a dezinfekciu sanitárnych povrchov. 
                            Je vhodný na umývanie sprchovacích kútov, kúpeľní, umývadiel, batérií, kuchynských drezov, kachličiek, vaní, nerezu.
                    </p>
                </div>
            </div>
        </div>
    </section>  

    <section id="companies" class="white-panel">
            <div class="container">
                    <div class="row text-left justify-content-around"> 
                        <div class="col-12 col-md-5 clearfix">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>
                                Tekutý prostriedok disiCLEAN ANTI-CALC čistí, dezinfikuje a odstraňuje vodný kameň. Je určený na upratovanie a dezinfekciu sanitárnych povrchov. 
                                Je vhodný na umývanie sprchovacích kútov, kúpeľní, umývadiel, batérií, kuchynských drezov, kachličiek, vaní, nerezu.
                            </p>
                        </div>
                        <div class="col-12 col-md-5 clearfix">
                            <p class="right-text">
                                Najväčší výrobca Presscontrolov na svete. Výrobca je držiteľom niekoľkých patentov v oblasti regulácie čerpadiel.
                                Grafy a tabuľky výtlakov nájdete v technických listoch a manuáloch. Ostatné dokumenty nájdete v sekcií "Na stiahnutie".
                            </p>
                        </div>
                    </div>
                </div>
            </section>
    </section> 

    <section id="benefits">
        <div class="container">
            <div class="row text-center justify-content-around">
                <div class="col-md-6 col-lg-5 mb-5">
                    <img src="https://image.flaticon.com/icons/svg/583/583931.svg" alt="">
                    <h3>Neškodný pre veľké organizmy</h3>
                    <p>
                        PolyHMG nepoškozuje bunky väčších organismov (ľudské a zvieracie bunky) kvôli ich odlišnej
                        molekulárnej štruktúre, biochemickým vlastnostiam, odlišnosti cytoplazmy a bunečného jadra.
                    </p>
                </div>
                <div class="col-md-6 col-lg-5 mb-5">
                    <img src="https://image.flaticon.com/icons/svg/585/585319.svg" alt="">
                    <h3>Neobsahuje jedy či alergény</h3>
                    <p>
                        Polymérové dezinfekcie neobsahujú žiadne druhy fenolov, alkoholov, aldehydov, kyselín alebo esterov.
                        Sú úplne neškodé pri kontakte s kožou, oblečením a dokonca aj ak sa látka dostane do očí.
                    </p>
                </div>
                <div class="col-md-6 col-lg-5 mb-5">
                    <img src="https://image.flaticon.com/icons/svg/525/525965.svg" alt="">
                    <h3>Podobný vode</h3>
                    <p>
                        PolyHMG je skoro bezfarebná látka bez zápachu a má ph okolo 7(neutrálna), vďaka čomu sa vlastnosťami približuje vode. 
                        Je nehorľavý, nespôsobuje vode a je dobre riediteľný bez použitia alkoholov.
                    </p>
                </div>
                <div class="col-md-6 col-lg-5 mb-5">
                    <img src="https://image.flaticon.com/icons/svg/84/84495.svg" alt="">
                    <h3>Ničí plesne, baktérie a vírusy</h3>
                    <p>
                        Eliminuje vírusy, huby, kvasinky, plesne, riasy a baktérie (MRSA, Salmonella, Legionella pneunophila). 
                        Pričom jeho účinnosť na aplikovanom povrchu je od 3dní až po 8 mesiacov v závislosti od kontaminácie. 
                    </p>
                </div> 
            </div>
        </div>
    </section>

    <section id="faq" class="white-panel">
        <div class="container">
            <div class="row text-center">
                <h4>Ako? Načo? Prečo?</h4>
                <h1>Často kladené otázky</h1>
            </div>
            <div class="row">
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Ako dezinfekcia PolyHMG funguje?
                        </h3>
                        <p>
                            PolyHMG s antimikrobiálními vlastnosťami, je zlúčenina Alkylu s kopolymérom na báze guianidu. Za svoju barkericídnu
                            funkciu vďačí PolyHMG hlavne schopnostiam svojich funkčných skupín guanidu vytvárať väzby s bunečnou membránou
                            patogénnych mikróbov. Po naviazaní prenikne funkčná skupina guanídov do cytoplazmy bunky a potlačí jej regulačnú
                            funkciu. Jej narušením spôsobí, že bunka nie je schopná fungovať tak, ako potrebuje a nakoniec zahynie.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Spôsobuje látka nejaké podráždenie pri kontakte s pokožkou alebo očami?
                        </h3>
                        <p>
                            Nie, produkty PolyHMG sú úplne bezpečné pri kontakte s pokožkou či oblečením. Ak sa látka dostane do očí, je potrebné 
                            ich vypláchnuť vodou - nespôsobuje však žiadne problémy. PolyHMG patrí do najnižšej III. triedy alergickej aktivity, tj. nespôsobuje žiadne
                            alergie.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Spĺňa PolyHMG všetky normy? Je certifikovaný?
                        </h3>
                        <p>
                            PolyHMG je plne certifikovaný ako biocidná látka. Je certifikovaný pre použitie v kategóriách A, B, C, T, M a V. 
                            Je účinný voči baktériam, vírusomm  a plesniam ako Legionella, HIV, Tuberkulóza, E.coli, MRSA či Candida. Dezinfekcia PolyPIPE z rady PolyHMG je
                            možné použiť pre správne dodržiavanie normy STN EN 806.
                            Kompletný zoznam noriem a protokol z certifikácie si môžete pozrieť tu - <a href="/na-stiahnutie.html" alt="Normy a certifikácia PolyHMG">Normy a certifikácia</a>.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Ako dlho dezinfekcia pôsobí? 
                        </h3>
                        <p>
                            Látka zostáva v prostredí v rôznych dĺžkach. Dĺžka účinnosti je závislá od kontaminácie povrchu, koncentrátu a spôsobu aplikácie. V suchom prostredí 
                            sa látka udrží na povrchu minimálne 10dní až niekoľko mesiacov. Koncentrácia PolyHMG na povrchu sa znižuje iba pri kontakte s baktériami alebo mechanickým odstránením (voda, dážď, atď.)  
                        </p>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Môže poškodiť nejaké materiály v rozvodoch alebo tesnenia? 
                        </h3>
                        <p>
                            PolyHMG vytvára na povrchu každého materiálu priedušný ochranný film, ktorý ich kráni pred koróziou či napadnutím baktériami
                            bez negatívnych vplyvov na akékoľvek materiály (sklo, drevo, koža, plast, papier, textil, guma, kov, nerez).
                            Tento film chráni kovy a potrubia pred koróziou a ostatné povrchy pred ďalším výskytom baktérií či ich množeniu.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Prečo je PolyHMG lepší ako chlór?
                        </h3>
                        <p>
                            PolyHMG narozdiel od chlóru nemá žiaden zápach a je netoxický pričom je jeho účinnosť niekoľko násobne vyššia. 
                            Dezinfekcia na báze chlóru je účinna na povrchu maximálne 8hodín pričom dezinfekčné prostriedky na báze polyméru 
                            si zachovávajú svoje vlastnosti niekoľko dní až mesiacov bez poškodenia akýchkoľvek materiálov.
                        </p>
                    </div>
            </div>
        </div>
    </section>

    <section class="bottom-link">
        <div class="container">
            <div class="row align-items-center text-block">
                <div class="col-12 text-center text-uppercase">
                    <h2 class="bold">
                        Potrebujete presné technické parametre?
                    </h2>
                    <p>
                        Grafy a tabuľky výtlakov nájdete v technických listoch a manuáloch. Ostatné dokumenty nájdete v sekcií "Na stiahnutie".
                    </p>
                    <div id="na-stiahnutie">
                        <section class="container text-center">
                            <div class="row justify-content-around download-list">
                                <div class="col-md-10 small-container">
                                    <div class="white-panel hover-border">
                                        <a href="/na-stiahnutie/pdf/test-biocidnej-ucinnosti-polyhmg.pdf">
                                            <h3 class="upper">
                                                {% include svg/icons/document.svg %}
                                                Manuál pre ponorné čerpadlá VODOLEY BCPE 0.32
                                            </h3>
                                        </a>
                                    </div>
                                </div>    
                            </div>
                            <div class="row justify-content-around download-list">
                                <div class="col-md-10 small-container">
                                    <div class="white-panel hover-border">
                                        <a href="/na-stiahnutie/pdf/test-biocidnej-ucinnosti-polyhmg.pdf">
                                            <h3 class="upper">
                                                {% include svg/icons/document.svg %}
                                                Technický list pre čerpadlá VODOLEY BCPE 0.32
                                            </h3>
                                        </a>
                                    </div>
                                </div>    
                            </div>
                            <div class="row justify-content-around download-list">
                                <div class="col-md-10 small-container">
                                    <div class="white-panel hover-border">
                                        <a href="/na-stiahnutie/pdf/test-biocidnej-ucinnosti-polyhmg.pdf">
                                            <h3 class="upper">
                                                {% include svg/icons/document.svg %}
                                                Certifikát pre ponorné čerpadlá VODOLEY
                                            </h3>
                                        </a>
                                    </div>
                                </div>    
                            </div>
                            <div class="row justify-content-around download-list">
                                <div class="col-md-10 small-container">
                                    <div class="white-panel hover-border">
                                        <a href="/na-stiahnutie/pdf/test-biocidnej-ucinnosti-polyhmg.pdf">
                                            <h3 class="upper">
                                                {% include svg/icons/document.svg %}
                                                Atest pre trvalý styk s pitnou vodou
                                            </h3>
                                        </a>
                                    </div>
                                </div>    
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>  
</div>