--- 

layout: default 
title: Riadiace jednotky WATERTECH - WATER TECHNOLOGY

---
<div id="riadiace-jednotky-watertech">
    <section class="product-header">
            <div class="product-header-cover clearfix">
                <img src="img/images/watertech.jpg" alt="">
            </div>
            <div class="container product-heading">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>
                            Riadiace jednotky <br>
                            WATERTECH
                        </h1>
                    </div>
                </div>
            </div>

        <div class="clearfix text-center">
            <a href="/produkty.html">
                <-  Späť na zoznam produktov
            </a>
        </div> 
    </section>

    <section class="text">
        <div class="container">
            <div class="row align-items-center text-block">
                <div class="col-12 text-center text-uppercase">
                    <h4>Pantentovaná kvalita z talianska</h4>
                    <h1>Riadiace jednotky WATERTECH</h1>
                </div>
                <div class="col-12 text-block">
                    <img src="img/images/jednotky.png" class="max-width-500 img-fluid" alt="">
                    <p class="text-center full-width mt-4">
                        Octopus Energi zabezpečuje kompletnú distribúciu a predaj tepelných čerpadiel, ponorných čerpadiel a technického príslušenstva. Ponúkame produkty pre koncových odberateľov a distribúciu pre montážne firmy, inštalatérov a odborné predajne. Na slovenskom trhu zastrešujeme značky Octopus, Vodoley, Watertech, Varem a Aquafill.
                    </p>
                </div>
            </div>
        </div>
    </section>  


    <section id="features" class="white-panel">
        <div class="container">
            <div class="row text-center icons-col-6 justify-content-around">
                <div class="col-12 col-md-5 clearfix">
                    {% include /svg/icons/buy.svg %}
                    <h3>RÝCHLA ÚČINNOSŤ</h3>
                    <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                </div>
                <div class="col-12 col-md-5 clearfix">
                    {% include /svg/icons/contract.svg %}
                    <h3>RÝCHLA ÚČINNOSŤ</h3>
                    <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                </div>
            </div>
        </div>
    </section>



    <section id="intro" class="text">
            <div class="container">
            <div class="container">
                <div class="row align-items-center text-block">
                    <div class="col-12 text-center text-uppercase">
                        <h4>Najvyššia kvalita a komfort</h4>
                        <h1>Frekvenčný menič presscontrol EVO</h1>
                    </div>
                    <div class="col-12 text-block">
                        <img src="img/images/presscontrol-evo.png" class="max-width-500 img-fluid" alt="">
                    </div>
                </div> 
                <div class="row text-center icons-col-6 icons-inverter-first justify-content-around">
                    <div class="col-12 col-md-4 clearfix">
                        {% include /svg/icons/buy.svg %}
                        <h3>RÝCHLA ÚČINNOSŤ</h3>
                        <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                    </div>
                    <div class="col-12 col-md-4 clearfix">
                        {% include /svg/icons/contract.svg %}
                        <h3>RÝCHLA ÚČINNOSŤ</h3>
                        <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                    </div>
                    <div class="col-12 col-md-4 clearfix">
                        {% include /svg/icons/contract.svg %}
                        <h3>RÝCHLA ÚČINNOSŤ</h3>
                        <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                    </div>
                </div>
                
                <div class="row align-items-center text-center">
                    <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html" class="margin-center mt-4">
                        <button class="button">Viac info</button>
                    </a>
                </div>
        </section>

    <section id="product-grid" class="white-panel">
        <div class="container">
            <div class="row text-center justify-content-around">
                <div class="col-12 col-md-5 col-lg-5 clearfix">
                    <div class="product-item">
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <img src="img/images/presscontrol-up.png" alt="">
                            <h4>prietokový spínač</h4>
                            <h3>PRESSCONTROL UP 1.5kW</h3>
                        </a>
                        <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <button class="button">Viac info</button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-5 clearfix">
                    <div class="product-item">
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <img src="img/images/mondialpress.png" alt="">
                            <h4>prietokový spínač</h4>
                            <h3>Mondialpress 1.1kW</h3>
                        </a>
                        <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <button class="button">Viac info</button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-5 clearfix">
                    <div class="product-item">
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <img src="img/images/logicpress.png" alt="">
                            <h4>prietokový spínač</h4>
                            <h3>Logicpress / Logicpress SET 1.5kW</h3>
                        </a>
                        <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <button class="button">Viac info</button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-5 clearfix">
                    <div class="product-item">
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <img src="img/images/controlpress.png" alt="">
                            <h4>nastaviteľný vypínačí tlak</h4>
                            <h3>Controlpres 2.2kW</h3>
                        </a>
                        <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <button class="button">Viac info</button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-5 clearfix">
                    <div class="product-item">
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <img src="img/images/pumpstop.png" alt="">
                            <h4>ochrana povrchového čerpadla</h4>
                            <h3>PumpStop</h3>
                        </a>
                        <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <button class="button">Viac info</button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-5 clearfix">
                    <div class="product-item">
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <img src="img/images/pumpstopIP.png" alt="">
                            <h4>ochrana povrchového čerpadla</h4>
                            <h3>PumpStop IP65</h3>
                        </a>
                        <p>Dezinfekčné prostriedky PolyHMG začínajú účinkovať okmažite po aplikácií, pričom úplna dezinfekcia nastáva v priebehu 1-3hodín.</p>
                        <a href="/riadiace-jednotky-watertech-frekvencny-menic-presscontrol-evo.html">
                            <button class="button">Viac info</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cards" class="container text-center blog-posts">
        <div class="row align-items-center text-block">
            <div class="col-12 text-center text-uppercase">
                <h4>Vodoley</h4>
                <h1>Každé čerpadlo je otestované</h1>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-4 small-container">
                <div class="white-panel hover-border">
                    <div class="image-holder">
                        <img src="https://i.pinimg.com/564x/85/f6/44/85f6445593b61943f71b3c45fecb9967.jpg" alt="">
                    </div>
                    <h3 class="upper">
                        Ponorné čerpadlá <br>
                        VODOLEY
                    </h3>     
                    <p>
                        Ponúkame prvotriedne produkty overených značiek. Široké portfólio čerpacej techniky, príslušenstva, promptný odborný servis do 24 hodín a profesionálne služby pre zákazníkov, inštalatérov aj odborných predajcov.                        
                    </p>
                    <a href="/ponorne-cerpadla.html"><button class="button mt-4">Viac info</button></a>         
                </div>
            </div>
            <div class="col-md-4 small-container">
                <div class="white-panel hover-border">
                    <div class="image-holder">
                        <img src="https://i.pinimg.com/564x/dc/74/d8/dc74d86a3ee6c08f9d8ab918128159fe.jpg" alt="">
                    </div>
                    <h3 class="upper">
                        Ponorné čerpadlá <br>
                        VODOLEY
                    </h3>     
                    <p>
                        Ponúkame prvotriedne produkty overených značiek. Široké portfólio čerpacej techniky, príslušenstva, promptný odborný servis do 24 hodín a profesionálne služby pre zákazníkov, inštalatérov aj odborných predajcov.                        
                    </p>
                    <a href="/ponorne-cerpadla.html"><button class="button mt-4">Viac info</button></a>         
                </div>
            </div>
            <div class="col-md-4 small-container">
                <div class="white-panel hover-border">
                    <div class="image-holder">
                        <img src="https://i.pinimg.com/564x/9d/0c/a5/9d0ca56b4d4e19be8ff4e2c2c2cb41dd.jpg" alt="">
                    </div>
                    <h3 class="upper">
                        Ponorné čerpadlá <br>
                        VODOLEY
                    </h3>     
                    <p>
                        Ponúkame prvotriedne produkty overených značiek. Široké portfólio čerpacej techniky, príslušenstva, promptný odborný servis do 24 hodín a profesionálne služby pre zákazníkov, inštalatérov aj odborných predajcov.                        
                    </p>
                    <a href="/ponorne-cerpadla.html"><button class="button mt-4">Viac info</button></a>         
                </div>
            </div>
        </div>
    </section>

    <section class="bottom-link">
        <div class="container">
            <div class="row align-items-center text-block">
                <div class="col-12 text-center text-uppercase">
                    <h2 class="bold">
                        Potrebujete presné technické parametre?
                    </h2>
                    <p>
                        Grafy a tabuľky výtlakov nájdete v technických listoch a manuáloch. Ostatné dokumenty nájdete v sekcií "Na stiahnutie".
                    </p>
                    <button class="address-link">
                        Dokumenty na stiahnutie
                    </button>
                </div>
            </div>
        </div>
    </section>  
</div>