--- 

layout: default 
title: Služby - WATER TECHNOLOGY

---

<div id="sluzby">
    <section class="full-width text-center first-header">
        <div class="container">
            <div class="row">
                <h4>Čo všetko ponúkame?</h4>
                <h1>Naše služby pre vás</h1>
                <p class="full-width">
                    S odbornou praxou už viac ako 20 rokov sme schopní riešiť akékoľvek problémy od klasickej montáže čerpadla či čerpacej stanice až po havarijné stavy vykurovacích 
                    systémov komplexných budov či dezinfekciu rozvodov akejkoľvek dimenzie.
                </p>
            </div>
        </div>
    </section>

    <section id="line-container" class="product-list white-panel first"> 
        <div class="container">
            <div class="col-12 col-md-12 col-lg-12 m-auto">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 image-order">
                        <div class="image-holder">
                            <div class="image-cut">
                                <img src="img/services/service-1.jpg" alt=""> 
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-part">
                        <div class="content-center right">
                            <h3 class="text-md-left text-center">
                                Montáž a servis<br>
                                ponorného čerpadla
                            </h3>
                            <p class="text-center text-md-left">
                                Vyberieme pre vás správne čerpadlo a spôsob regulácie v závislosti od samotnej studne a využitia. V prípade akýchkoľvek problémov poskytujeme 48hodinový servis so zapožičaním servisného kusu, tak aby ste neostali nikdy bez vody. Napíšte nám pre vypracovanie individuálnej cenovej ponuky.
                            </p>
                            <a href="/sluzby/montaz-servis-ponorneho-cerpadla.html"> 
                                <button class="line-small">Viac info</button> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="line-container" class="product-list"> 
        <div class="container">
            <div class="col-12 col-md-12 col-lg-12 m-auto">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-part">
                        <div class="content-center">
                            <h3 class="text-md-left text-center">
                                Dezinfekcia rozvodov  <br>
                                pitnej vody s nezávadným polymérom
                            </h3>
                            <p class="text-center text-md-left">
                                Máte pocit že sa vám doma, v kancelárií alebo hoteli zhoršila kvaltita vody? Častým problémom môže byť zvýšená hodnota baktérií či rias v rozvode pitnej vody, ktoré sa vyskytnú pri dlhšej odstávke či priesaku kontaminantov do potrubia. Dezinfikujeme už v priebehu 3 hodín bez použitia toxických látok a rozvod je použiteľný okamžite po vyčistení. 
                            </p>
                            <a href="/sluzby/dezinfekcia-rozvodov-pitnej-vody.html"> 
                                <button class="line-small">Viac info</button> 
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 image-order">
                        <div class="image-holder">
                            <div class="image-cut">
                                <img src="img/services/service-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="line-container" class="product-list white-panel"> 
        <div class="container">
            <div class="col-12 col-md-12 col-lg-12 m-auto">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 image-order">
                        <div class="image-holder">
                            <div class="image-cut">
                                <img src="img/services/service-5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-part">
                        <div class="content-center right">
                            <h3 class="text-md-left text-center">
                                Čistenie podlahového <br>
                                kúrenia a radiátorov
                            </h3>
                            <p class="text-center text-md-left">
                                Vykurovací systém je vytvorený z množstva rôznych materiálov a následkom vysokých teplôt sa z potrubia uvoľňujú nečistoty, ktoré zvyšujú hustotu vody či môžu úplne znemožniť priatok, čo spôsobí studené miesta alebo zvýšené náklady na ohrev vody. Systém vyčistíme, odvzdušníme a zregulujeme tak aby sme optimalizovali chod vykurovacieho systému.
                            </p>
                            <a href="/sluzby/cistenie-vykurovacich-systemov.html"> 
                                <button class="line-small">Viac info</button> 
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>

    <section id="line-container" class="product-list"> 
        <div class="container">
            <div class="col-12 col-md-12 col-lg-12 m-auto">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-part">
                        <div class="content-center">
                            <h3 class="text-md-left text-center">
                                Zvýšenie prietoku a čistenie <br>
                                potrubí pitnej vody od hrdze a vodného kameňa
                            </h3>
                            <p class="text-center text-md-left">
                                Ak pociťujete znížený prietok vody alebo slabý tlak vody môže byť dôvodom zvýšený obsah hrubých nečistôt či vodného kameňa. Nánosy z potrubia odstraňujeme roztokom kyseliny citrónovej alebo kyseliny octovoej tak aby sme nepoškodili batérie, či staršie potrubia.
                            </p>
                            <a href="/sluzby/zvysenie-prietoku-cistenie-hrdze-vodneho-kamena.html"> 
                                <button class="line-small">Viac info</button> 
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 image-order">
                        <div class="image-holder">
                            <div class="image-cut">
                                <img src="img/services/service-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--
    <section id="line-container" class="product-list white-panel"> 
        <div class="container">
            <div class="col-12 col-md-12 col-lg-12 m-auto">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 image-order">
                        <div class="image-holder">
                            <div class="image-cut">
                                <img src="img/services/service-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-part">
                        <div class="content-center right">
                            <h3 class="text-md-left text-center">
                                Vodoinštalatérske a <br>
                                kurenárske práce
                            </h3>
                            <p class="text-center text-md-left">
                                Súčsťou našého portfólia služieb sú tiež kompletné vovoinštalatérske či kurenárske práce. V prípade záujmu novú vodoinštaláciu, opravu či montáž kotla nás neváhajte kontaktovať.
                            </p>
                            <a href="/sluzby/montaz-servis-ponorneho-cerpadla.html"> 
                                <button class="line-small">Viac info</button> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <section id="icons-list" class="white-panel">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-uppercase">
                    <h4>Prvotriedna kvalita a odbornosť</h4>
                    <h1>
                        Čerpacia technika, regulácia <br>
                        a profesionálna dezinfekcia
                    </h1>
                </div>
            </div>
            <div class="row text-center icons-col-6">
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/buy.svg %}
                    <h3>Špičkové výrobky z celého sveta</h3>
                    <p>Sme výhradný dovozca a predajce rôznych značiek v oblasti čerpacej techniky, riadiacich jednotik či dezinfekcie pre profesionálne použitie.</p>
                </div>
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/contract.svg %}
                    <h3>Riešime problémy nie symptómy</h3>
                    <p>Nezameriavame sa len na vyriešenie problému, ktorý sa prejaví na povrchu, snažíme sa vždy odhaliť pôvod chyby a riešiť ju pri zdroji príčiny bez možnosti opakovania.</p>
                </div>
                <div class="col-12 col-md-4 clearfix">
                    {% include /svg/icons/roller.svg %}
                    <h3>Servis do 48 hodín</h3>
                    <p>Naše produkty si kvalitu skutočne držia a vďaka tomu vieme poskytnúť záručný servis priamo u Vás na mieste. Zaručíme 100% chod systému čo najskôr ako to je možné.</p>
                </div>
            </div>
        </div>
    </section>
</div>