--- 

layout: default 
title: Letáky a akcie - WATER TECHNOLOGY

---
<section id="contact-page" class="full-width text-center pt-5">
    <div class="container">
        <div class="row">
            <h4>tlačové podklady</h4>
            <h1>Letáky a akcie</h1>
        </div>
    </div>
</section>

<section id="podklady" class="container text-center">
    <div class="row justify-content-around download-list">
        <div class="col-md-3 small-container mt-4">
            <div class="white-panel hover-border text-center">
                <a href="/na-stiahnutie/marketingove-podklady/letak-polypipe.pdf">
                    <img src="{{ site.url }}/img/prev/letak-polypipe.jpg" alt="Leták PolyPIPE" class="preview-image">
                    <h3 class="center">Leták PolyPIPE</h3>
                </a>
            </div>
        </div> 
        <div class="col-md-3 small-container mt-4">
            <div class="white-panel hover-border text-center">
                <a href="/na-stiahnutie/marketingove-podklady/letak-polywell.pdf">
                    <img src="{{ site.url }}/img/prev/letak-polywell.jpg" alt="Leták PolyWELL" class="preview-image">
                    <h3 class="center">Leták PolyWELL</h3>
                </a>
            </div>
        </div>  
        <div class="col-md-3 small-container mt-4">
            <div class="white-panel hover-border text-center">
                <a href="/na-stiahnutie/marketingove-podklady/letak-polyhmg.pdf">
                    <img src="{{ site.url }}/img/prev/letak-polyhmg.jpg" alt="Leták PolyHMG" class="preview-image">
                    <h3 class="center">Leták PolyHMG</h3>
                </a>
            </div>
        </div>
    </div>  
    <div class="row justify-content-around download-list">
        <div class="col-md-3 small-container mt-4">
            <div class="white-panel hover-border text-center">
                <a href="/na-stiahnutie/marketingove-podklady/letak-vodoley.pdf">
                    <img src="{{ site.url }}/img/prev/letak-vodoley.jpg" alt="Leták VODOLEY" class="preview-image">
                    <h3 class="center">Leták VODOLEY</h3>
                </a>
            </div>
        </div>   
        <div class="col-md-3 small-container mt-4">
            <div class="white-panel hover-border text-center">
                <a href="/na-stiahnutie/marketingove-podklady/letak-presscontrol-evo.pdf">
                    <img src="{{ site.url }}/img/prev/letak-presscontrol-evo.jpg" alt="Leták PRESSCONTROL EVO" class="preview-image">
                    <h3 class="center">Leták PRESSCONTROL EVO</h3>
                </a>
            </div>
        </div>           
    </div>
    
    <a href="/na-stiahnutie/marketingove-podklady.html"><button class="button back"><- Späť</button></a>
</section>

<section id="contact-form" class="white-panel"> 
    <div class="container">
        <div class="row text-center">
            <h4>Máte otázky?</h4>
            <h1>Chýbajú Vám ďalšie informácie?</h1>
            <p class="full-width">
                Nenašli ste v certifikátoch a ostatných podkladoch čo ste potrebovali alebo Vám nie je niečo jasné? neváhajte a napíšte nám. 
            </p>
            <!-- img src="https://demo.yootheme.com/themes/wordpress/2016/horizon/wp-content/uploads/services_map.png" alt=""> -->
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-md-9">

                <form method="post" id="form-contact" action="" name="form-contact" class="pipe">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                                <label for="firstName" class="col-form-label">Meno</label>
                                <input type="text" id="firstName">
                                <span class="error-message"></span>
                        </div>
                        <div class="form-group col-md-6">
                                <label for="lastName" class="col-form-label">Priezvisko</label>
                                <input type="text" id="lastName" >
                                <span class="error-message"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                                <label for="phone" class="col-form-label">Telefónne číslo</label>
                                <input type="text" id="phone" >
                                <span class="error-message"></span>
                        </div>
                        <div class="form-group col-md-6">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="text" id="email" >
                                <span class="error-message"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">Vaša správa</label>
                        <textarea name="text" id="message" cols="30" rows="4"></textarea>
                        <span class="error-message"></span>
                    </div>
                    <div class="sent"></div>
                    <div class="not-sent"></div>
                    <button type="submit" form="form-contact" class="button mt-4">Odoslať email</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="contact-line" class="full-width text-center">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3">
                    {% include svg/poly-pipe.svg %}
                </div>
                <div class="col-6 col-md-3">
                    {% include svg/poly-well.svg %}
                </div>
                <div class="col-6 col-md-3">
                    {% include svg/poly-air.svg %}
                </div>
                <div class="col-6 col-md-3">
                    {% include svg/poly-heat.svg %}
                </div>
            </div>
        </div>
    </div>
</section>
