--- 

layout: default 
title: Karty bezpečnsotných údajov dezinfekcie H2O-COOL - WATER TECHNOLOGY

products: 
    - title: svg/icons/organims.svg
      link: URČENĚ AJ DO VLHKÝCH PRIESTOROV

---
<section id="contact-page" class="full-width text-center pt-5">
    <div class="container">
        <div class="row">
            <h4>Bezpečnostné podklady</h4>
            <h1>Karty bezpečnsotých údajov dezinfekcie H2O-COOL</h1>
        </div>
    </div>
</section>

<div id="na-stiahnutie">
    <section class="container text-center">

        
        {% for product in site.disiclean %}
        <div class="row justify-content-around download-list">
            <div class="col-md-10 small-container">
                <div class="white-panel hover-border">
                    <a href="/na-stiahnutie/kbu/h2o-cool/kbu-{{ product.url_code }}.pdf">
                        <h3 class="upper">
                            {% include svg/icons/document.svg %}
                            KBÚ - {{ product.title }}
                        </h3>
                    </a>
                </div>
            </div>    
        </div>
        {% endfor %}
        
        <a href="/na-stiahnutie/karty-bezpecnostnych-udajov.html"><button class="button back"><- Späť</button></a>
    </section>

    <section id="contact-form" class="white-panel"> 
        <div class="container">
            <div class="row text-center">
                <h4>Máte otázky?</h4>
                <h1>Chýbajú Vám ďalšie informácie?</h1>
                <p class="full-width">
                    Nenašli ste v certifikátoch a ostatných podkladoch čo ste potrebovali alebo Vám nie je niečo jasné? neváhajte a napíšte nám. 
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-12 col-md-9">

                    <form method="post" id="form-contact" action="" name="form-contact" class="pipe">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                    <label for="firstName" class="col-form-label">Meno</label>
                                    <input type="text" id="firstName">
                                    <span class="error-message"></span>
                            </div>
                            <div class="form-group col-md-6">
                                    <label for="lastName" class="col-form-label">Priezvisko</label>
                                    <input type="text" id="lastName" >
                                    <span class="error-message"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                    <label for="phone" class="col-form-label">Telefónne číslo</label>
                                    <input type="text" id="phone" >
                                    <span class="error-message"></span>
                            </div>
                            <div class="form-group col-md-6">
                                    <label for="email" class="col-form-label">Email</label>
                                    <input type="text" id="email" >
                                    <span class="error-message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-form-label">Vaša správa</label>
                            <textarea name="text" id="message" cols="30" rows="4"></textarea>
                            <span class="error-message"></span>
                        </div>
                        <div class="sent"></div>
                        <div class="not-sent"></div>
                        <button type="submit" form="form-contact" class="button mt-4">Odoslať email</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="contact-line" class="full-width text-center">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3">
                        {% include svg/poly-pipe.svg %}
                    </div>
                    <div class="col-6 col-md-3">
                        {% include svg/poly-well.svg %}
                    </div>
                    <div class="col-6 col-md-3">
                        {% include svg/poly-air.svg %}
                    </div>
                    <div class="col-6 col-md-3">
                        {% include svg/poly-heat.svg %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>