--- 


layout: default
title: Dezinfekcia rozvodov pitnej vody - WATER TECHNOLOGY

page_id: dezinfekcia-potrubia
cover_photo: img/services/dezinfekcia.jpg 
cover_photo_alt: Mikroorganizmy pod mikroskopom

page_h1: DEZINFEKCIA ROZVODOV <br> PITNEJ VODY
page_h3: DEZINFEKCIA VODOVODNÝCH POTRUBÍ AKO PREVENCIA PRED LEGIONELLOU A BAKTÉRIAMI V PITNEJ VODE 

content_smallheadline: vyčistíme rozvody rýchlo a kvalitne
content_headline: dlhodobá ochrana potrubí zdravotne nezávadným polymérom

content_image: 
content_image_alt: 
content_description: <b>Máte pocit že sa vám doma, v kancelárií alebo v budove, ktorú spravujete zhoršila kvaltita vody, zmenila farba či vôňa?</b> Častým problémom môže byť zvýšená hodnota baktérií a rias v potrubí, ktoré sa vyskytnú pri nízkom prietoku vody, opravách potrubia, či v prípade, že nezohrievate teplú vodu aspoň raz mesačne na 70°C. <b>Rozvody a zásobníky pitnej vody dezinfikujeme už v priebehu 3 hodín bez použitia toxických látok a rozvod je použiteľný okamžite po vyčistení s viditeľným rozdielom v kvalite vody, ktorú pijeme.</b>

page_features: 
    - icon: svg/icons/trowel.svg
      headline: Odstránenie sfarbenia vody
      text: Voda zo studne, či dlho nepoužívaná voda môže v potrubí nabrať nepríjemné sfarbenie, ktoré je často spôsobené kontamináciou baktériami alebo riasami. Rozvody vypláchneme a vydezinfikujeme aby sme zabránili ďalšiemu sfarbeniu vody. 
    - icon: svg/icons/crane_hook.svg
      headline: Vysoká účinnosť dezinfekcie
      text: Naša dezinfekcia PolyPIPE je ekologická a zdravotne nezávadná k ľuďom a zvieratám, no extrémne účinná pri odstraňovaní rias, ktoré sa v rozvode vytvárajú pri zníženom prietoku a teplotách do 50°C. Doposiaľ nie je zistená baktéria s rezistenciou voči dezinfekcií PolyPIPE.
    - icon: svg/icons/wheelbarrow.svg  
      headline: Nepoškodzuje materiály
      text: Pri aplikácií nepoužívame žiadne kyseliny, ktoré by mohli spôsobiť problémy s rozvodom ani v prípade že sú trubky v horšom stave. PolyPIPE dezinfekcia vytvára na povrchu biocidný film, ktorý chráni pred ďalším vznikom baktérií či kórózií potrubia.
      
page_services: 
    - icon: svg/icons/barrier.svg
      headline: Servis čerpacej techniky 
    - icon: svg/icons/crane_hook.svg 
      headline: Čerpacie stanice
    - icon: svg/icons/buy.svg
      headline: Úpravovne pitnej vody
    - icon: svg/icons/fan.svg
      headline: Filtrácia vody
    - icon: svg/icons/trowel.svg
      headline: Výmena tlakových nádob 
    - icon: svg/icons/ruler.svg
      headline: Dezinfekcia a čistenie studní
    - icon: svg/icons/document.svg
      headline: Zazimovanie systémov
    - icon: svg/icons/truck.svg
      headline: Dezinfekcia nádrží

gallery_code: dezinfekcia-zse

images:
- image_path: /img/referencie/dezinfekcia-rozvodu-vody-zse/1.jpg
  title: Čistenie a dezinfekcia rozvodu pre hydrant
- image_path: /img/referencie/dezinfekcia-rozvodu-vody-zse/2.jpg
  title: Výplach kúpeľňovej batérie
- image_path: /img/referencie/dezinfekcia-rozvodu-vody-zse/3.jpg
  title: Dezinfikovať sa musia všetky trasy v systéme
- image_path: /img/referencie/dezinfekcia-rozvodu-vody-zse/4.jpg
  title: Čím viac baktérií je v systéme tým viac dezinfekcia pení
- image_path: /img/referencie/dezinfekcia-rozvodu-vody-zse/5.jpg 
  title: Na budove sa nachádzalo viac ako 10 kuchyniek, v ktorých voda sa líšila od čistej po veľmi znečistenú
- image_path: /img/referencie/dezinfekcia-rozvodu-vody-zse/6.jpg
  title: Nepoužívaná trasa, ktorú sme museli najprv prepláchnuť pred dezinfekciou   


article_h4: Servis, údržba či zazimovanie?
article_h1: Rady a tipy pri zlepšovaní kvality pitnej vody
article_category: dezinfekcia
article_p: Pri aplikácií nepoužívame žiadne kyseliny, ktoré by mohli spôsobiť problémy s rozvodom ani v prípade že sú trubky v horšom stave. PolyPIPE dezinfekcia vytvára na povrchu biocidný film, ktorý chráni pred ďalším vznikom baktérií či kórózií potrubia.

contact_h4: Objednajte si nezáväzné vypracovanie cenovej ponuky alebo obliadku priamo u vás doma
contact_h1: Kontaktujte nás teraz <br> a zlepšite kvalitu vody vo vašom objekte :)
contact_p: 
    - <b> DEZINFEKCIA ROZVODOV PITNEJ VODY </b> <br> Karol Zemplényi <br> +421 903 821 474 <br> <a href="mailto:zemplenyi@octopusenergi.sk"> zemplenyi&#64;octopusenergi.sk </a> <br><br><br>
    - Získajte jasnú predstavu o cene a riešení. Odpovieme na vaše otázky, odporučíme ideálne riešenie a pripravíme vám cenovú ponuku. Telefonický nás môžete kontaktovať v čase od 8:00-19:00. Na maily sa snažíme reagovať čo najskôr v najbližších 48 hodinách.



---


<div id="{{ page.page_id }}">

        <section class="product-header">
                <div class="product-header-cover clearfix">
                    <img src="{{ site.url }}/{{ page.cover_photo }}" alt="{{ page.cover_photo_alt }}">
                </div>
                <div class="container product-heading">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1> 
                                {{ page.page_h1 }}
                            </h1>
                            <h3> 
                                {{ page.page_h3 }}
                            </h3>
                        </div>
                    </div>
                </div>
    
            <div class="clearfix text-center">
                <a href="/sluzby.html"> 
                    &lt;-  Späť na zoznam služieb
                </a>
            </div> 
        </section>
    
        <section class="text">
            <div class="container">
                <div class="row align-items-center text-block">
                    <div class="col-12 text-center text-uppercase">
                        <h4>{{ page.content_smallheadline }}</h4>
                        <h1>{{ page.content_headline }}</h1>
                    </div>
                    <div class="col-12 text-block">
                        <p class="text-center full-width">
                            {{ page.content_description }} 
                        </p>
                    </div>
                </div>
    
                {% if page.page_features %}
                    <section id="icons-list">
                        <div class="container">
                            <div class="row text-center icons-col-6 justify-content-around">
                                {% for feature in page.page_features %}
                                    <div class="col-12 col-md-3 clearfix">
                                        {% include {{ feature.icon }} %}
                                        <h3>{{ feature.headline }}</h3>
                                        <p>{{ feature.text }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endif %}
            </div>
        </section>  

        <div id="small-blog-list" class="text-center white-panel">
            <div class="container">
                <div class="row align-items-center text-block">
                    <div class="col-12 text-center text-uppercase">
                        <h4>Legionella pneumophila - Skrytý zabiják</h4>
                        <h1>Donedávna dezinfekcia potrebná nebola, tak prečo teraz?</h1>
                    </div>
                    <div class="col-12 text-block">
                        <p class="text-center full-width">
                            <b>Najčastejším a zároveň aj najnebezbečnejším rizikom je skrytá baktéria Legionella, ktorá vzniká v rozvodoch teplej vody bez cirkulácie. Baktériu nie je možné vidieť a predstavuje tak skryté riziko nákazy.</b>
                            Legionella pneumophila spôsobuje tzv. legionársku chorobu alebo pontiackú horúčku. Najnáchylnejšie sú práve malé deti a starí ľudia, ktorí majú oslabenú imunitu. Legionella sa šíri vzduchom a práve pri sprchovaní či používaní perlátorov vzniká najväčšie riziko infikovania. 
                        </p>
                        <p class="text-center full-width">
                            Ako prevencia voči Liegionelle sa odporúča prehrievať teplú úžitkovú vodu na teplotu aspoň 65-75°C. Takéto teploty však človek dosiahne iba v ohrievači vody a ostatné rozvody, kde teplá voda "stojí", v ramienkach batérií, perlátoroch či hadičkách ostávajú bez prevencie a sú najčastejším miestom pre vznik a šírenie baktérií.
                            Rovnaké riziko vzniká aj ak sa voda v budove dlhodobo nepoužíva a ostane v potrubí stáť. V takom prípade, ak sa jedná napríklad o víkendovú chatu odporúčame systém dezinfikovať vždy po dlhšej odstávke vody.
                        </p>
                        <p class="text-center full-width">
                            <b>Naša dezinfekcia PolyPIPE je vysoko účinná a už v priebehu 1 hodiny dokáže baktériu Legionnely odstrániť a v priebehu 3 hodín vieme systém zbaviť celého spektra rias, baktérií a vírusov (MRSA, HIV, TBC, H1N1, E.coli či Candida a mnoho iných).</b>
                        </p>
                    
                        <a href="#contact"><button class="button show-all">Objednať bezplatnú obhliadku</button></a>
                    </div>
                </div>
            </div>
        </div>
    
        <section class="text" id="additional-service">
            <div class="container">
                <div class="row align-items-center text-block">
                    <div class="col-12 text-center text-uppercase">
                        <h4>Čo všetko ma čaká?</h4>
                        <h1>Ako dezinfekcia rozvodov prebieha?</h1>
                    </div>
                    <div class="col-12 text-block">
                        <p class="text-center full-width">
                            Pre dezinfekciu systému potrebujeme do potrubia "natlačiť" koncentrát PolyPIPE, ktorý je zafarbený modrým potravinárskym farbivom. <b>Do potrubia sa pripájame hneď na začiatku špeciálnym prístrojom na dezinfekciu a čistenie potrubia REMS Multi-Push alebo našimi čerpadlami, ktoré majú dostatočný výkon pre dezinfekciu väčších objektov.</b>                            
                        </p>
                        <p class="text-center full-width">
                            <b>Systém dezinfikujeme ak je možné ihneď za vodomerom, alebo v prípade napojenia na studňu ihneď od čerpadla, tak aby sme prečistili celý rozvod už od zdroja.</b>
                            Voda, ktorá do systému vstupuje od vodární je bezproblémová a čistá, no po prechode kontaminovaným potrubím sa jej vlastnosti a kvalita menia. 
                            <b>Vodárne vedia ovplyvniť kvalitu vody na vstupe, no stav rozvodov a ich údržba je už Vaša zodpovednosť a vy ste v tomto prípade zodpovedný za kvalitu vody, ktorú vy a vaši blízky pijete.</b>
                        </p>
                        <div id="referencia-small-gallery" class="row text-left justify-content-around"> 
                            {% for image in page.images %}
                                <div class="col-12 col-md-6 col-lg-4 image">  
                                    <a href="{{ site.url }}/{{ image.image_path }}"
                                    class="fresco"
                                    data-fresco-caption="{{ image.title }}"
                                    data-fresco-options="ui: 'inside'"       
                                    data-fresco-group-options="thumbnails: 'horizontal'" 
                                    data-fresco-group="{{ page.gallery_code }}">
                                        <img src="{{ site.url }}/{{ image.image_path }}" alt="{{ image.title }}" class="max-width-400">
                                    </a>
                                </div>
                            {% endfor %}
                            {% for video in page.videos %}
                                <div class="col-12 col-md-6 col-lg-4 image">  
                                    <a href="{{ video.video_path }}"
                                    class="fresco"
                                    data-fresco-group-options="thumbnails: 'horizontal'"
                                    data-fresco-type="youtube"
                                    data-fresco-options="
                                    width: 853,
                                    height: 480,
                                    youtube: { autoplay: 0 }"
                                    data-fresco-group="{{ page.gallery_code }}">
                                        <img src="{{ site.url }}/{{ video.image_path }}" alt="{{ video.title }}" class="max-width-400">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    
                        <a href="#contact" class="text-center mx-auto"><button class="button show-all">Objednať bezplatnú obhliadku</button></a>
                    </div>
                </div>
            </div>
        </section>  

        <div id="faq" class="text-left white-panel">
            <div class="container">
                <div class="row text-block">
                    <div class="col-12 text-center text-uppercase">
                        <h4>Koľko to stojí a čo mám očakávať?</h4>
                        <h1>Často kladené otázky</h1>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Ako dezinfekcia PolyPIPE funguje?
                        </h3>
                        <p>
                            PolyPIPE s antimikrobiálními vlastnosťami, je zlúčenina Alkylu s kopolymérom na báze guianidu. Za svoju barkericídnu
                            funkciu vďačí PolyPIPE hlavne schopnostiam svojich funkčných skupín guanidu vytvárať väzby s bunečnou membránou
                            patogénnych mikróbov. Po naviazaní prenikne funkčná skupina guanídov do cytoplazmy bunky a potlačí jej regulačnú
                            funkciu. Jej narušením spôsobí, že bunka nie je schopná fungovať tak, ako potrebuje a nakoniec zahynie.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Spôsobuje PolyPIPE podráždenie alebo poškodenie materiálov?
                        </h3>
                        <p>
                            Nie, PolyPIPE je úplne bezpečný a neškodý pri kontakte s pokožkou či oblečením a nespôsobuje žiadne alergie. Vytvára na povrchu priedušný ochranný film, ktorý chráni pred koróziou či šírením baktérií
                            bez negatívnych vplyvov na akékoľvek materiály (sklo, plast, textil, guma, kov, nerez). Tento film chráni kovy a potrubia pred koróziou a pred ďalším výskytom baktérií či ich množením.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Spĺňa PolyPIPE všetky normy? Je certifikovaný?
                        </h3>
                        <p>
                            PolyPIPE je plne certifikovaný ako biocidná látka. Je certifikovaný pre použitie v kategóriách A, B, C, T, M a V. 
                            Je účinný voči baktériam, vírusomm  a plesniam ako Legionella, HIV, Tuberkulóza, E.coli, MRSA či Candida. Dezinfekciu PolyPIPE z rady PolyHMG je
                            možné použiť pre správne dodržiavanie normy STN EN 806.
                            Kompletný zoznam noriem a protokol z certifikácie si môžete pozrieť tu - <a href="https://polypipe.sk/na-stiahnutie.html" alt="Normy a certifikácia PolyPIPE">Normy a certifikácia</a>.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Dostanem o dezinfekcií potvrdenie alebo certifikát? 
                        </h3>
                        <p>
                            Po dezinfekcií dávame klientom preberací protokol o dezinfekcií, v ktorom sú špecifikované všetky informácie od stupňa kontaminácie po koncetrácie a dĺžku aplikácie PolyPIPE dezinfekcií v rozvodoch. Pri väčších administratívnych budovách je potrebné urobiť rozbor pred a po dezinfekcií pre odovzdanie certifikátu o deziinfekcií systému rozvodov pitnej vody.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Koľko dezinfekcia systému stojí? 
                        </h3>
                        <p>
                            Cena dezinfekcie vždy závisí od stupňa kontaminácie, spôsobu dezinfekcie a v závislosti od prác potrebných pre pripojenie do systému. Bežný rodinný dom trvá zvyčajne 4-5 hodín pre dezinfekciu a veľké objekty vieme zvládnuť za jednu noc, či počas víkendu.
                            V prípade záujmu o kalkuláciu či obhliadku systému nás neváhajate <a href="#contact">kontaktovať</a>.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 question">
                        <h3>
                            Prečo je PolyPIPE lepší ako chlór?
                        </h3>
                        <p>
                            PolyPIPE narozdiel od chlóru nemá žiaden zápach a je netoxický pričom je jeho účinnosť niekoľko násobne vyššia. 
                            Dezinfekcia na báze chlóru je účinna na povrchu maximálne 8hodín pričom dezinfekčné prostriedky na báze polyméru 
                            si zachovávajú svoje vlastnosti niekoľko dní až mesiacov bez poškodenia akýchkoľvek materiálov.
                        </p>
                    </div>
                    
                    <a href="#contact" class="text-center mx-auto"><button class="button show-all">Objednať bezplatnú obhliadku</button></a>
                </div>
            </div>
        </div>

        <section id="small-blog-list" class="text-center margin-100-100"> 
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>{{ page.article_h4 }}</h4>
                        <h1>{{ page.article_h1 }}</h1>
                    </div>
                </div>
                <div class="row justify-content-around">
                    {% for article in site.categories['bobule'] limit:3 %}
                        <div class="col-md-4 small-container">
                            <div class="white-panel hover-border">
                                <div class="image-holder">
                                    <img src="{{ article.cover }}" alt="{{ article.cover-alt }}">
                                </div> 
                                <h3 class="upper">
                                    {{ article.title }}
                                </h3>     
                                <p>
                                    {{ article.description }}                        
                                </p>
                                <a href="{{ article.url }}"><button class="button mt-4">Viac info</button></a>         
                            </div>
                        </div>
                    {% else %}
                        <p> Momentálne nemáme pre túto kategóriu produktov žiadne články.</p>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section id="contact" class="contact text-center margin-100-100 white-panel"> 
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>{{ page.contact_h4 }}</h4>
                        <h1>{{ page.contact_h1 }}</h1>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <p class="full-width text-center">
                        {{ page.contact_p }}
                    </p>
                    <div class="col-12 col-md-9">
    
                        <form method="post" id="form-contact" action="" name="form-contact">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                        <label for="firstName" class="col-form-label">Meno</label>
                                        <input type="text" id="firstName">
                                        <span class="error-message"></span>
                                </div>
                                <div class="form-group col-md-6">
                                        <label for="lastName" class="col-form-label">Priezvisko</label>
                                        <input type="text" id="lastName" >
                                        <span class="error-message"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                        <label for="phone" class="col-form-label">Telefónne číslo</label>
                                        <input type="text" id="phone" >
                                        <span class="error-message"></span>
                                </div>
                                <div class="form-group col-md-6">
                                        <label for="email" class="col-form-label">Email</label>
                                        <input type="text" id="email" >
                                        <span class="error-message"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message" class="col-form-label">Vaša správa</label>
                                <textarea name="text" id="message" cols="30" rows="4"></textarea>
                                <span class="error-message"></span>
                            </div>
                            <div class="sent"></div>
                            <div class="not-sent"></div>
                            <button type="submit" form="form-contact" class="button mt-4">Odoslať email</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>