--- 


layout: default
title: Montáž čerpadla na sezónne využitie - WATER TECHNOLOGY

page_id: montaz-cerpadla
cover_photo: img/services/montaz-sezona.jpg 
cover_photo_alt: Mikroorganizmy pod mikroskopom

page_h1: MONTÁŽ ČERPADLA NA  <br> POLIEVANIE A SEZÓNNE VYUŽITIE
page_h3: INŠTALÁCIA ČERPADLA A RIADIACEJ JEDNOTKY S NAPOJENÍM NA AUTOMATICKÚ ZÁVLAHU

content_smallheadline: Jednoduchý automatický systém 
content_headline: Montáž čerpadla do studne na polievanie

content_image: 
content_image_alt: 
content_description:
    - V prípade, že chcete studničnú vodu používať iba počas letných mesiacov na záhrade a na polievanie - či už klasicky s hadicou alebo na automatickú závlahu - odporúčame jednoduché zapojenie, ktoré nevyžaduje vysoké vstupné náklady a poskytuje dostatočný komfort.  
    - <br> <br>
    - <b> Vyberieme pre Vás čerpadlo, ktoré poskytne dostatočný objem a tlak vody práve podľa vaších potrieb. Zohľadníme vopred všetky faktory ako hĺbka a výdatnosť studne, terénné podmienky či spôsob používania. </b> 
    - Systém funguje automaticky s ochranou proti behu na sucho. Po otvorení kohútika sa čerpadlo automaticky zapne a po zatvorení vypne. Ak je možné volíme najjednosuchší spôsob bez tlakových nádob, ktoré by vyžadovali pravidelný servis niekoľko krát ročne. 

page_features: 
    - icon: svg/icons/trowel.svg
      headline: Obhliadka / Konzultácia
      text: Ak je možné pozemok osobne obzrieme a detailne vysvetlíme spôsob fungovania systému a prekonzultujeme najväyhodnejší spôsob čerpania studničnej vody. Ak je možné rovno si dohodneme fixný termín inštalácie. 
    - icon: svg/icons/crane_hook.svg
      headline: Cenová ponuka
      text: Ak nie je možné na mieste vopred povedať cenu, vypracujeme individuálnu cenovú ponuku na celú techniku, komponenty a prácu. Cena je nastavená tak, aby už nedochádzalo k neskoršiemu navýšeniu ceny.
    - icon: svg/icons/wheelbarrow.svg
      headline: Inštalácia techniky
      text: Po odsúhlasení ponuky, prídeme na samtnú montáž. V prípade, že už máte šachtu s prívodom elektriky(230V), v priebehu 3-4hodín máte techniku namontovanú a môžete si užívať komfort polievania "zdarma" :). 

page_services: 
    - icon: svg/icons/barrier.svg
      headline: Servis čerpacej techniky 
    - icon: svg/icons/crane_hook.svg 
      headline: Čerpacie stanice
    - icon: svg/icons/buy.svg
      headline: Úpravovne pitnej vody
    - icon: svg/icons/fan.svg
      headline: Filtrácia vody
    - icon: svg/icons/trowel.svg
      headline: Výmena tlakových nádob 
    - icon: svg/icons/ruler.svg
      headline: Dezinfekcia a čistenie studní
    - icon: svg/icons/document.svg
      headline: Zazimovanie systémov
    - icon: svg/icons/truck.svg 
      headline: Dezinfekcia nádrží

gallery_code: montaz-frekvencneho-menica-sered 

images:
    - image_path: img/services/montaz/sezona/1.jpeg
      title: Lorem ipsum dolor sit amet
    - image_path: img/services/montaz/sezona/2.jpeg
      title: Lorem ipsum dolor sit amet
    - image_path: img/services/montaz/sezona/3.jpeg
      title: Lorem ipsum dolor sit amet
    - image_path: img/services/montaz/sezona/4.jpeg
      title: Lorem ipsum dolor sit amet
    - image_path: img/services/montaz/sezona/5.jpeg 
      title: Lorem ipsum dolor sit amet
    - image_path: img/services/montaz/sezona/6.jpeg
      title: Lorem ipsum dolor sit amet    

article_h4: Objednajte si nezáväzné vypracovanie cenovej ponuky alebo obliadku priamo u vás doma
article_h1: Kontaktujte nás teraz <br> a polievajte už tento týždeň :)
article_p: 
    - <b> MONTÁŽ PONORNÝCH ČERPADIEL </b> <br> Andrej Zemplényi <br> +421 911 111 902 <br> <a href="mailto:zemplenyi@octopusenergi.sk"> zemplenyi&#64;octopusenergi.sk </a> <br><br><br>
    - Získajte jasnú predstavu o cene a riešení. Odpovieme na vaše otázky, odporučíme ideálne riešenie a pripravíme vám cenovú ponuku. Telefonický nás môžete kontaktovať v čase od 8:00-19:00. Na maily sa snažíme reagovať čo najskôr v najbližších 48 hodinách.
article_category: montaz


---


<div id="{{ page.page_id }}">

        <section class="product-header">
                <div class="product-header-cover clearfix">
                    <img src="{{ site.url }}/{{ page.cover_photo }}" alt="{{ page.cover_photo_alt }}">
                </div>
                <div class="container product-heading">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1> 
                                {{ page.page_h1 }}
                            </h1>
                            <h3> 
                                {{ page.page_h3 }}
                            </h3>
                        </div>
                    </div>
                </div>
    
            <div class="clearfix text-center">
                <a href="/sluzby/montaz-servis-ponorneho-cerpadla.html"> 
                    &lt;-  Späť na Montáž a servis ponorného čerpadla
                </a>
            </div> 
        </section>
    
        <section class="text">
            <div class="container">
                <div class="row align-items-center text-block">
                    <div class="col-12 text-center text-uppercase">
                        <h4>{{ page.content_smallheadline }}</h4>
                        <h1>{{ page.content_headline }}</h1>
                    </div>
                    <div class="col-12 text-block">
                        <p class="text-center full-width">
                            {{ page.content_description }} 
                        </p>
                    </div>
                </div>
            </div>
        </section>  

        <div id="small-blog-list" class="ako-to-prebieha text-center white-panel">
            <div class="container">
                <div class="row align-items-center text-block">
                    <div class="col-12 text-center text-uppercase">
                        <h4>Čo všetko to obnáša?</h4>
                        <h1>Ako prebieha celý proces?</h1>
                    </div>
    
                    {% if page.page_features %}
                        <section id="icons-list">
                            <div class="container">
                                <div class="row text-center icons-col-6 justify-content-around">
                                    {% for feature in page.page_features %}
                                        <div class="col-12 col-md-4 clearfix">
                                            {% include {{ feature.icon }} %}
                                            <h3>{{ feature.headline }}</h3>
                                            <p>{{ feature.text }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    {% endif %}

                    <div class="col-12 text-block">
                        <p class="text-center full-width">
                            <b> Vyberieme pre Vás čerpadlo, ktoré poskytne dostatočný objem a tlak vody práve podľa vaších potrieb. Zohľadníme vopred všetky faktory ako hĺbka a výdatnosť studne, terénné podmienky či spôsob používania. </b> 
                        </p>
                    </div>
                    
                    <a href="#contact"><button class="button show-all">Objednať bezplatnú obhliadku</button></a>
                    
                </div>
            </div>
        </div>
    
        <section class="text" id="additional-service">
            <div class="container">
                <div class="row align-items-center text-block">
                    <div class="col-12 text-center text-uppercase">
                        <h4>Postaráme sa o techniku</h4>
                        <h1>Čo je potrebné pre montáž na kľúč?</h1>
                    </div>

                    <div class="col-12 text-block">
                        <p class="text-center full-width">
                            Pri systéme na manuálne zavlažovanie so záhradnou hadicou stačí keď si rozmyslíte, <b>kde chcete mať záhradné kohútiky a v akých výškach</b>. V prípade <b>automatickej závlahy potrebujeme presné parametre na požadovaný prietok a tlak</b>, ktorý zistíte od závlahárov, ktorý ju zapájali. 
                        </p>
                        <p class="text-center full-width">
                            Systém je vždy nachystaný aby sa dali jednoducho zazimovať samostatne všetky vetvy (samostatne záhradné kohútiky a samostatne automatická závlaha, atď.) a aby sa dali vetvy samostatne pripájať k ďalším vývodom. 
                            Čerpadlo je napájané na 230V a <b>je potrebné mať samostatný kábel s ističom a prúdovým chráničom</b> na ktorý nie je pripojený žiaden iný spotrebič. V šachte si už elektriku nadpojíme a natiahneme podľa naších potrieb. 
                        </p>
                        <p class="text-center full-width">
                            V príapde že si nie ste istý či máte tieto veci u vás k dispozícií, či neviete, aké parametre má vaŠa závlaha <b>neváhajte nás kontaktovať a radi prídeme na osobnú obhliadku a navrhneme riešenie</b>, ktoré bude nie len rýchle ale aj cenovo prijateľné. 
                        </p>
                    </div>
                    <div id="referencia-small-gallery" class="row text-left justify-content-around"> 
                        {% for image in page.images %}
                            <div class="col-12 col-md-6 col-lg-4 image">  
                                <a href="{{ site.url }}/{{ image.image_path }}"
                                class="fresco"
                                data-fresco-caption="{{ image.title }}"
                                data-fresco-options="ui: 'inside'"       
                                data-fresco-group-options="thumbnails: 'horizontal'" 
                                data-fresco-group="{{ page.gallery_code }}">
                                    <img src="{{ site.url }}/{{ image.image_path }}" alt="{{ image.title }}" class="max-width-400">
                                </a>
                            </div>
                        {% endfor %}
                        {% for video in page.videos %}
                            <div class="col-12 col-md-6 col-lg-4 image">  
                                <a href="{{ video.video_path }}"
                                class="fresco"
                                data-fresco-group-options="thumbnails: 'horizontal'"
                                data-fresco-type="youtube"
                                data-fresco-options="
                                width: 853,
                                height: 480,
                                youtube: { autoplay: 0 }"
                                data-fresco-group="{{ page.gallery_code }}">
                                    <img src="{{ site.url }}/{{ video.image_path }}" alt="{{ video.title }}" class="max-width-400">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>  

        <section id="contact" class="contact text-center margin-100-100 white-panel"> 
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>{{ page.article_h4 }}</h4>
                        <h1>{{ page.article_h1 }}</h1>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <p class="full-width text-center">
                        {{ page.article_p }}
                    </p>
                    <div class="col-12 col-md-9">
    
                        <form method="post" id="form-contact" action="" name="form-contact">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                        <label for="firstName" class="col-form-label">Meno</label>
                                        <input type="text" id="firstName">
                                        <span class="error-message"></span>
                                </div>
                                <div class="form-group col-md-6">
                                        <label for="lastName" class="col-form-label">Priezvisko</label>
                                        <input type="text" id="lastName" >
                                        <span class="error-message"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                        <label for="phone" class="col-form-label">Telefónne číslo</label>
                                        <input type="text" id="phone" >
                                        <span class="error-message"></span>
                                </div>
                                <div class="form-group col-md-6">
                                        <label for="email" class="col-form-label">Email</label>
                                        <input type="text" id="email" >
                                        <span class="error-message"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message" class="col-form-label">Vaša správa</label>
                                <textarea name="text" id="message" cols="30" rows="4"></textarea>
                                <span class="error-message"></span>
                            </div>
                            <div class="sent"></div>
                            <div class="not-sent"></div>
                            <button type="submit" form="form-contact" class="button mt-4">Odoslať email</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>