--- 


layout: default
title: Zvýšenie prietoku a čistenie potrubí pitnej vody od hrdze a vodného kameňa - WATER TECHNOLOGY

page_id: zvysenie-tlaku
gallery_code: zvysenie-tlaku
cover_photo: img/services/montaz.jpg 
cover_photo_alt: Mikroorganizmy pod mikroskopom

page_h1: ZVÝŠENIE PRIETOKU A ČISTENIE <br> POTRUBÍ PITNEJ VODY OD HRDZE A VODNÉHO KAMEŇA
page_h3: ČISTENIE VODOVODNÉHO POTRUBIA A ZVÝŠENIE PRIETOKU V POTRUBÍ ÚŽITKOVEJ A PITNEJ VODY

content_smallheadline: čistenie vodovodu tlakom
content_headline: Zvýšenie prietoku v potrubí

content_image: 
content_image_alt: 
content_description: <b> Zdá sa vám, že máte doma nižší tlak alebo menej vody? Dôvodom môže byť znečistené potrubie upchaté vodným kameňom či hrdzou a ostanými mechanickými nečistotami. </b> Potrubie je namáhané každý deň a postupom času sa na povrchu začne vytvárať krusta zložená z rôznych minerálov a hrdze. Takýto zhluk nečistôt postupne obaluje trubku a v závislosti od zloženia a materiálu, z ktorého je potrubie vyrobené upcháva potrubie postupne alebo zachytáva nečistoty na miestach so zníženým prietokom (kolená, redukcie, zlé zvary, atď.). 

page_features: 
    - icon: svg/numbers/01.svg
      headline: Identifikácia problému 
      text: Po obhliadke skontrolujeme všetky vývody a nájdeme trasu v ktorej môže byť problém spôsobený. Vodovod nachystáme a pripravíme pre pripojenie potrebnej technológie. 
    - icon: svg/numbers/02.svg
      headline: výber spôsobu čistenia
      text: V závislosti od veku potrubia je potrebné zvoliť spôsob čistenia tlakom vody a vzducho alebo chemicky pomocou prípravkov pre rozpustenie vodného kameňa. 
    - icon: svg/numbers/03.svg
      headline: Ochrana systému
      text: Po vyčistení systému a obnovení prietoku zabezpečíme a ochránime ho pred ďalším vytváraním a zachytávaním nečistôt, ktoré by mohli opäť zamedziť prietok a znížiť kvalitu vody.

page_services: 
    - image_path: /img/referencie/cistenie-rozvodu-vodny-kamen/1.jpg
      title: Čistenie a dezinfekcia rozvodu pre hydrant
      headline: Stroje na čistenie postrubia
    - image_path: /img/referencie/cistenie-rozvodu-vodny-kamen/2.jpg
      title: Výplach kúpeľňovej batérie
      headline: Pripojenie do systému
    - image_path: /img/referencie/cistenie-rozvodu-vodny-kamen/3.jpg
      title: Dezinfikovať sa musia všetky trasy v systéme
      headline: Čistenie vodovodu stlačeným vzduchom

videos:
    - video_path: https://www.youtube.com/watch?v=tA8hCPuODwo
      image_path: /img/referencie/cistenie-rozvodu-pitnej-vody-rd/1.jpg
      title: Čistenie a dezinfekcia rozvodu pre hydrant
    - video_path: https://www.youtube.com/watch?v=lv_GaS6lRpQ
      image_path: /img/referencie/cistenie-rozvodu-pitnej-vody-rd/3.jpg
      title: Výplach kúpoľňovej batérie
    - video_path: https://www.youtube.com/watch?v=zWvFrNlbyds
      image_path: /img/referencie/cistenie-rozvodu-pitnej-vody-rd/2.jpg
      title: Dezinfikovať sa musia všetky trasy v systéme     

main_product: 201001

products_per_line: 2

article_h4: Servis, údržba či zazimovanie?
article_h1: Rady a tipy pri používaní čerpacej techniky
article_category: montaz

article_h4: Objednajte si nezáväzné vypracovanie cenovej ponuky alebo obliadku priamo u vás doma
article_h1: Kontaktujte nás <br> a pomôžeme Vám s nízkym tlakom
article_p: 
    - <b> ČISTENIE POTRUBIA </b> <br> Karol Zemplényi <br> +421 903 821 474 <br> <a href="mailto:zemplenyi@octopusenergi.sk"> zemplenyi&#64;octopusenergi.sk </a> <br><br><br>
    - Získajte jasnú predstavu o cene a riešení. Odpovieme na vaše otázky, odporučíme ideálne riešenie a pripravíme vám cenovú ponuku. Telefonický nás môžete kontaktovať v čase od 8:00-19:00. Na maily sa snažíme reagovať čo najskôr v najbližších 48 hodinách.
article_category: montaz

---


<div id="{{ page.page_id }}">

        <section class="product-header">
                <div class="product-header-cover clearfix">
                    <img src="{{ site.url }}/{{ page.cover_photo }}" alt="{{ page.cover_photo_alt }}">
                </div>
                <div class="container product-heading">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1> 
                                {{ page.page_h1 }}
                            </h1>
                            <h3> 
                                {{ page.page_h3 }}
                            </h3>
                        </div>
                    </div>
                </div>
    
            <div class="clearfix text-center">
                <a href="/sluzby.html"> 
                    &lt;-  Späť na zoznam služieb
                </a>
            </div> 
        </section>
    
        <section class="text">
            <div class="container">
                <div class="row align-items-center text-block">
                    <div class="col-12 text-center text-uppercase">
                        <h4>{{ page.content_smallheadline }}</h4>
                        <h1>{{ page.content_headline }}</h1>
                    </div>
                    <div class="col-12 text-block">
                        <p class="text-center full-width">
                            {{ page.content_description }} 
                        </p>
                    </div>
                </div>
    
                {% if page.page_features %}
                    <section id="icons-list">
                        <div class="container">
                            <div class="row text-center icons-col-6 justify-content-around">
                                {% for feature in page.page_features %}
                                    <div class="col-12 col-md-3 clearfix">
                                        {% include {{ feature.icon }} %}
                                        <h3>{{ feature.headline }}</h3>
                                        <p>{{ feature.text }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endif %}
            </div>
        </section>  

        <div id="small-blog-list" class="text-center white-panel">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>Prečo je dôležité čistiť potrubie z dôvodu prevencie?</h4>
                        <h1>Ako vyzerá potrubie pred čistením?</h1>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-md-6 col-lg-5 small-container">
                        <div class="white-panel hover-border">
                            <div class="image-holder">
                                <img src="{{ site.url }}/img/services/ppr.jpg" alt="">
                            </div>
                            <h4>Rez potrubia z PPR</h4>
                            <h3 class="upper"> 
                                Zanesenie plastových rozvodov
                            </h3>     
                            <p>
                                Hladká stena plastových rozvodov často spôsobuje že sa <b>vodný kameň kryštalizuje na stenách trubky a takéto "šupinky" sa postupom času zachytávajú na zúžených miestach ako sú zvary potrubia</b>, redukcie či prechody z jedného materiálu na druhý. 
                                <br><br>
                                Postupom času tieto nánosy vytvoria zátku, ktorá zachytáva nielen mechanické nečistoty a zároveň je častým zdrojom baktérií a biofilmov v potrubí. 
                            </p>        
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 small-container">
                        <div class="white-panel hover-border">
                            <div class="image-holder">
                                <img src="{{ site.url }}/img/services/pozink.jpg" alt=""> 
                            </div>
                            <h4>Rez pozinkového potrubia</h4>
                            <h3 class="upper">
                                Zanesenie železných a pozinkových rozvodov
                            </h3>     
                            <p>
                                Železné a pozinkové potrubie sa časom a pôsobením vody poškodí a zničí sa ochranná vrstva. <b>V železných rozvodoch sa hrdza začne vytvárať po stenách a s kombináciou vodného kameňa sa postupne obaluje smerom zvnútra von.</b>
                                <br><br>
                                Pórovité a členité prostredie v potrubí je veľa krát zdrojom rôznych baktérií a najmä rias, ktoré v potrubí vznikajú pri nižšom prietoku. 
                            </p>    
                        </div>
                    </div>

                    <div class="col-12 text-block obhliadka">
                        <p class="text-center full-width">
                            <b> Vyberieme pre Vás čerpadlo, ktoré poskytne dostatočný objem a tlak vody práve podľa vaších potrieb. Zohľadníme vopred všetky faktory ako hĺbka a výdatnosť studne, terénné podmienky či spôsob používania. </b> 
                        </p>
                    </div>
                    
                    <a href="#contact"><button class="button show-all">Objednať bezplatnú obhliadku</button></a>
                    
                </div>
            </div>
        </div>
    
        <section class="text" id="additional-service">
            <div class="container">
                <div class="row align-items-center text-block">
                    <div class="col-12 text-center text-uppercase">
                        <h4>Chemické a tlakové čistenie</h4>
                        <h1>Ako prebieha čistenie rozvodu pitnej vody?</h1>
                    </div>
                    <div class="col-12 text-block">
                        <p class="text-center full-width">
                            Nezávisle od spôsobu čistenia rozvodu vody je potrebné do systému pripojiť stroje na čistenie. Pre zvýšenie prietoku používame stroje ako REMS Multi-Push alebo REMS Solar prípadne naše vlastné technológie pre čistenie.
                            <br><br>
                            Do systému sa pripájame v závislosti od problému, ktorý sa vyskytuje. Postupne čistíme trasy s najnižším prietokom od najnižšej dimenzie smerom k najvyššej (od batérie smerom k prívodu). Aby sme nepoškodili rozvody je potrebné zdemontovať batérie a rohové ventily. 
                            Potrubie sa snažíme prepláchnuť vyšším tlakoma v závislosti od stavu a veku rozvodov sa vyberie spôsob čistenia chémiou (kyselina citrónová / octová) alebo tlakom vody so vzduchom. 
                        </p>
                        <p class="text-center full-width">
                            <b>Čistenie rozvodu trvá približne 3 hodiny a v niektorých prípadoch aj viac v závislosti od počtu odbočiek na trase.</b> Po čistení je však potrebné vždy rozvod vydezinfikovať nakoľko odstránením mechanických nečistôt sa odkryje biofilm v potrubí, ktorý môže razantne zhoršiŤ kvalitu pitnej vody. 
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% if page.page_services %}
                        <section id="work-images" class="container">
                                <div class="row justify-content-around"> 
                                    {% for image in page.images %}
                                        <div class="col-12 col-md-6 col-lg-4 image">  
                                            <a href="{{ site.url }}/{{ image.image_path }}"
                                            class="fresco" 
                                            data-fresco-caption="{{ image.title }}"
                                            data-fresco-options="ui: 'inside'"       
                                            data-fresco-group-options="thumbnails: 'horizontal'" 
                                            data-fresco-group="{{ page.gallery_code }}">
                                                <img src="{{ site.url }}/{{ image.image_path }}" alt="{{ image.title }}" class="max-width-400">
                                            </a>
                                        </div>
                                    {% endfor %}
                                    {% for video in page.videos %}
                                        <div class="col-12 col-md-6 col-lg-4 image">  
                                            <a href="{{ video.video_path }}"
                                            class="fresco"
                                            data-fresco-group-options="thumbnails: 'horizontal'"
                                            data-fresco-type="youtube"
                                            data-fresco-options="
                                            width: 853,
                                            height: 480,
                                            youtube: { autoplay: 0 }"
                                            data-fresco-group="{{ page.gallery_code }}">
                                                <img src="{{ site.url }}/{{ video.image_path }}" alt="{{ video.title }}" class="max-width-400">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                        </section>
                    {% endif %}
                </div>
            </div>
        </section>  


        <section id="contact" class="contact text-center margin-100-100 white-panel"> 
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>{{ page.article_h4 }}</h4>
                        <h1>{{ page.article_h1 }}</h1>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <p class="full-width text-center">
                        {{ page.article_p }}
                    </p>
                    <div class="col-12 col-md-9">
    
                        <form method="post" id="form-contact" action="" name="form-contact">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                        <label for="firstName" class="col-form-label">Meno</label>
                                        <input type="text" id="firstName">
                                        <span class="error-message"></span>
                                </div>
                                <div class="form-group col-md-6">
                                        <label for="lastName" class="col-form-label">Priezvisko</label>
                                        <input type="text" id="lastName" >
                                        <span class="error-message"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                        <label for="phone" class="col-form-label">Telefónne číslo</label>
                                        <input type="text" id="phone" >
                                        <span class="error-message"></span>
                                </div>
                                <div class="form-group col-md-6">
                                        <label for="email" class="col-form-label">Email</label>
                                        <input type="text" id="email" >
                                        <span class="error-message"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message" class="col-form-label">Vaša správa</label>
                                <textarea name="text" id="message" cols="30" rows="4"></textarea>
                                <span class="error-message"></span>
                            </div>
                            <div class="sent"></div>
                            <div class="not-sent"></div>
                            <button type="submit" form="form-contact" class="button mt-4">Odoslať email</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>